

  <div class="row show-grid">

    <div class="col-xs-4">
	<h2>Аниме сериалы</h2>
	<% for( var i = 0; i < animes.length; i++) {
			if(animes[i].type == 'serials') {%>
			          <p id="<%= animes[i]._id %>" ><a href="/admin/<%= animes[i]._id %>"><%= animes[i].name %></a>
			          <img class="deleteButton" src="/images/delete.png" alt="Удалить"  onclick="dropanime('<%= animes[i]._id %>')"></p>
		 <%  }
		 } %>
	</div>

	<div class="col-xs-4">
	<h2>Аниме OVA</h2>
	<% for( var i = 0; i < animes.length; i++) {
			if(animes[i].type == 'ova') {%>
			        <p><a href="/admin/<%= animes[i]._id %>"><%= animes[i].name %></a>
			        <button onclick="dropanime('<%= animes[i]._id %>')">Удалить</button></p>
		 <%  }
		 } %>
	</div>

	<div class="col-xs-4">
	<h2>Аниме фильмы</h2>
	<% for( var i = 0; i < animes.length; i++) {
			if(animes[i].type == 'movie') {%>
			         <p><a href="/admin/<%= animes[i]._id %>"><%= animes[i].name %></a>
			         <button onclick="dropanime('<%= animes[i]._id %>')">Удалить</button></p>

		 <%  }
		 } %>
	</div>


  </div>
  <div class="row show-grid">
	  <div class="col-md-3 col-md-offset-5">
	  	<a class="button" href="/addanime">Добавить аниме</a>
	  </div>
  </div>

  