<h1><%=title%> "<%= anime[0].name%>"</h1>
<div class="row show-grid">
<div class="col-xs-12">

<%for( var i = 0; i < anime[0].seasons.length; i++) {%>
<h3>Сезон <%= anime[0].seasons[i].number %></h3>
	<%for( var j = 0; j < anime[0].series.length; j++) {
		if(anime[0].series[j].season == anime[0].seasons[i].number) {%>
			          <p><%=anime[0].series[j].number%>. <%=anime[0].series[j].name%>
			          <img class="deleteButton" src="/images/delete.png" alt="Удалить" onclick="dropseries('<%= animeID %>','<%= anime[0].series[j]._id %>')"></p>          
		<% }
	}
} %>



<div>

	<a class="button" href="/addseries/<%=anime[0]._id%>">Добавить серию</a>
	<a class="button" href="/addseason/<%=anime[0]._id%>">Добавить сезон</a> 

</div>
</div>
</div>