<h1><%= title %></h1>

<div class="row-fluid">
    <div class="col-xs-2">
	     <ul class="side-menu">
	        <li><a href="/favorites">Избранное</a></li>
	        <li><a href="/seen">Просмотренное</a></li>
	        <li><a href="/watchlater">Посмотреть позже</a></li>
	    </ul>
    </div>

<div class="col-xs-10">
	<ul class="animelist">
		<% for(var i = 0; i < animes.length; i++) { 
			if((i%2) == 0) {%>
				<li class="one"><a href="/favorites/<%= animes[i]._id %>"><%= i+1 %>. <%= animes[i].name %></a></li>
			<%} else {%>
				<li class="two"><a href="/favorites/<%= animes[i]._id %>"><%= i+1 %>. <%= animes[i].name %></a></li>
			<%}%>
		<%}%>
	</ul>
</div>


    <footer>
    	<div class="footer col-xs-12"></div>
	</footer>
</div>
